#content{
	width:900px;
	height: 200px;
}
#content2{
	width: 900px;
	height: 253px;
}
#c1{
	background-color: #FE0000;
	color: white;
	width: 80%;
	height:auto;
	padding-bottom: 10px;
}
#c2{
	background-color: #FDBBBC;
	color: white;
	width: 80;
	height: auto;
}
.td{
	color: red;
}
#c31{
	width: 450px;
	height: auto;;
}
#c32{
	width: 450px;
	height: auto;
}